<div class="container">
  <h1>All Customers</h1>

  <div class="navigation-links">
    <%= link_to "View Alphabetized", customers_alphabetized_path, class: "button" %>
    <%= link_to "View Customers Missing Email", customers_missing_email_path, class: "button" %>
  </div>

  <div class="customers-grid">
    <% @customers.each do |customer| %>
      <%= render 'customer', customer: customer %>
    <% end %>
  </div>
</div>